* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  height: 100%;
  text-align: center;
}

body {
  background-image: url(../img/programming.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-color: white;
  background-attachment: fixed;
  font-size: 16px;
}

.container {
  color: white;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
}

.profile {
  color: white;
  margin: 30px 0 25px 0;
  text-align: center;
}

.profile .avatar{
  color: white;
  width: 100px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 20px white;
  display: block;
  margin: 0 auto 20px auto;
  -webkit-animation: floating 2s ease-in-out infinite;
  animation: floating 2s ease-in-out infinite;
}


.profile .name {
  font-size: 1.5em;
  color: white;
  display: block;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.profile .skill {
  font-size: 1.0em;
  color: white;
  font-weight: bold;
}

.social {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 20px 0;
}

.social img {
  width: 30px;
  size: 50px;
}

h2 {
  margin-bottom: 10px;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  background: rgb(29,75,102);
  background: linear-gradient(
180deg, rgba(29,75,102,1) 44%, rgba(19,42,67,1) 100%);
}

.card .info {
  text-align: left;
}

.card .info h3 {
  text-align: left;
  font-size: 1em;
}

.card .info p {
  font-size: 0.8em;
}

.card i {
  margin-right: 15px;
}

.purple {
  background: linear-gradient(
    180deg, #027bac 50%, #02aefd 100%);
}

.youtube {
  background: linear-gradient(
    180deg, #027bac 50%, #02aefd 100%);
}

.telegram {
  background: linear-gradient(
    180deg, #027bac 50%, #02aefd 100%);
}


.fa, .fas {
  font-weight: 900;
}

.fa, .far, .fas {
  font-family: "Font Awesome 5 Free";
}

.fa-2x {
  font-size: 1em;
}

.fa, .fab, .fad, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

i.fas.fa-laptop-code.fa-2x {
  content: "\f5fc";
}

i.fa-youtube:before {
  content: "\f5fc";
}

.fa-laptop-code:before {
  content: "\f5fc";
}

.fa-code:before {
  content: "\f121";
}

.fa-telegram:before {
  content: "\f121";
}




@-webkit-keyframes floating {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-8px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes floating {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-8px);
  }
  100% {
    transform: translatey(0px);
  }
}



